body {
	background-color: white;
	text-align: center;
}

nav {
	background-color: #808080;

}
a {
	background-color: #ffbf00;
	color: white;
	display: block;
	float: left;
	padding: 35px;
}
a:hover {
	background-color: #ee5f3c;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

h1 {
	color: rgb(2, 132, 130);
}

h2 {
	color: #ffd700;
}

p {
	color: black;
}

.board {
	height: 50%;
	width: 50%;
	display: inline-block;

}

.card {
	height: 200px;
	width: 150px;
	background-color: yellow;
	border: black solid 1px;
	border-radius: 10px;
	float: left;
	margin: 8%;
}

.name {
	color: #ff0000;

}

footer {
	background-color: #808080;
	text-align: center;
	
}


